<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : WaterPainting
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20121212

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Darci Stockman</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Dancing+Script|Oswald" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    
    
</head>
<body>
    <div id="wrapper">
        <div id="menu-wrapper">
            <div id="menu" class="container">
                <div id="secretLogin">&nbsp;</div>
                <ul>
                    <li id="topnav-home" class="current_page_item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li id="topnav-gallery"><a href="@Url.Action("Index", "Gallery")">Gallery</a></li>
                    <li id="topnav-blog"><a href="@Url.Action("Index", "Blog")">Blog</a></li>
                </ul>
            </div>
        </div>

        @RenderBody()
        <!-- end #page -->
    </div>
    <div id="footer-bg">
        <div id="footer-content" class="container">
            <div id="social-media">
                <a href="https://www.facebook.com/DarciStockmanArt" target="_blank">
                    <img src="~/Images/Facebook.png" /></a>
                <a href="https://twitter.com/ArtStuffDaily" target="_blank">
                    <img src="~/Images/Twitter.png" /></a>
                <a href="http://pinterest.com/darci76844/darstockmanart/" target="_blank">
                    <img src="~/Images/Pinterest.png" /></a>
            </div>
            <div style="clear: both;"></div>
            <div id="column1">
                <h2>My Favorites</h2>
                <ul class="list-style2">
                    <li class="first"><a href="http://www.etsy.com/shop/dirtroadsouth">Dirt Road South</a></li>
                    <li><a href="http://www.japonicagallery.com/">Japonica Gallery</a></li>
                    <li><a href="http://www.eleven-26.com/">ELEVEN26</a></li>
                    <li><a href="http://www.modernsoutherner.com/">Modern Southerner</a></li>
                </ul>
            </div>
            <div id="column2">
                <h2>Inspirations</h2>
                <ul class="list-style2">
                    <li class="first"><a href="http://www.shannaluke.com/">Shanna Luke</a></li>
                </ul>
            </div>
            <div id="column3">
                <h2>Recommended Links</h2>
                <ul class="list-style2">
                    <li class="first"><a href="http://www.etsy.com/blog/en/">The Etsy Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>Original Design by <a href="http://www.freecsstemplates.org">FCT</a></a>.</p>
    </div>
    <!-- end #footer -->
    <div id="modalLogin">
        <p>user</p>
        <input type="text" id="user"/>
        <p>pass</p>
        <input type="text" id="pass"/>
        <input type="button" value="login" onclick="authenticate()" />
    </div>
    <script type="text/javascript">
        $("#secretLogin").click(function () {
            $("#modalLogin").dialog({ modal: true, height: 250, width: 250 });
        });

        function authenticate() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Authenticate", "Home")',
                data: { "user": $("#user").val(), "pass": $("#pass").val() },
                success: redirect
            });
        }

        function redirect(data) {
            if (data.success == "0") {
                alert(data.token);
            }
            else {
                window.location.href = "@(Url.Action("Manage", "Gallery") + "?z=")" + data.token;
            }

        }
    </script>
</body>
</html>
